
__pycache__/
*.py[cod]
*$py.class


venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock


db.sqlite3
db.sqlite3-journal

# 🚀 فایل‌های لاگ و کش
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.idea/
.vscode/
logs/
*.bak


*/migrations/* 
!*/migrations/__init__.py  # این خط باعث می‌شود `__init__.py` در `migrations/` بماند


media/
staticfiles/
node_modules/


docker-compose.override.yml
